        <div id="title">
          <p><a href="http://supermassiveblackhol.es">supermassiveblackhol.es</a></p>
          <h1>{{ page.title }}</h1>
          <hr>
          <span class="credits left">
{% if page.author == 'thomas' %}
written and performed by <a href="http://flickr.com/photos/thomasb">thomas ashton braithwaite</a>
{% elsif page.author == 'reg' %}
written by <a href="http://braythwayt.com">reg braithwaite</a>
{% else %}
presented for your edification
{% endif %}
</span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </div>